body{
    background-color: white;
}
h1{
    text-align: center;
    color: white;   
}

#color_change_para{
    background-color: #fff;
}

color_change_para_after_click{
    background-color: yellow;
}

canvas{
    width: 300px;
    height: 200px;
    border: 2px blue solid;
}


.color_change_para02{
    color: white;
}

#draw_shape01,#draw_shape02{
    width: 300px;
    height: 200px;
    border: 2px blue solid;
}